.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 10px;
}

.grid img {
  width: 150px;
  height: 200px;
  border-radius: 10%;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
